# Regression tests (serial)

name: "build, test"

on:
  pull_request:
    branches:
    - master
    - develop

jobs:

  d2q9:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Build
      run: |
        gcc --version
        cp config/github-gcc.mk config.mk
        sed -i "s/D3Q19/D2Q9/" config.mk
        make serial
        make -j 2

    - name: Check
      run: |
        make unit
        make -C tests d2q9

  d3q15:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Build
      run: |
        gcc --version
        cp config/github-gcc.mk config.mk
        sed -i "s/D3Q19/D3Q15/" config.mk
        make serial
        make -j 2

    - name: Check
      run: |
        make unit
        make -C tests d3q15
        cat tests/regression/d3q15/*.new

  make-d3q19-short:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Build
      run: |
        gcc --version
        cp config/github-gcc.mk config.mk
        make serial
        make -j 2

    # Some care may be required with threads
    - name: Check
      run: |
        export OMP_NUM_THREADS=1
        make test

  d3q27:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Build
      run: |
        gcc --version
        cp config/github-gcc.mk config.mk
        sed -i "s/D3Q19/D3Q27/" config.mk
        make serial
        make -j 2

    # No specific tests yet
    - name: Check
      run: |
        make unit
        make -C tests d3q27

  d2q9-mpi:
    name: d2q9 / mpi
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        mpi: ['openmpi']

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
    - name: Set up MPI
      uses: mpi4py/setup-mpi@v1
    - run: mpicc --version
    - run: cp config/github-mpicc.mk config.mk
    - run: make -j 2
    - run: export OMP_NUM_THREADS=2
    - run: make unit
    - run: export OMP_NUM_THREADS=1
    - run: make -C tests d2q9
  
  d3q15-mpi:
    name: d3q15 / mpi
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
    - name: Set up MPI
      uses: mpi4py/setup-mpi@v1
    - run: mpicc --version
    - run: cp config/github-mpicc.mk config.mk
    - run: sed -i "s/D2Q9/D3Q15/" config.mk
    - run: make -j 2
    - run: export OMP_NUM_THREADS=2
    - run: make unit
    - run: export OMP_NUM_THREADS=1
    - run: make -C tests d3q15
    - run: cat tests/regression/d3q15/*new
